@model DealHunter.Model.ListOfDealTracks
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped">
    <tr>
        @foreach (var prop in Model.DealsTracks.First().GetType().GetProperties())
        {
            if (prop.Name != "Id")
            {
                <th class="h3" >
                    @prop.Name
                </th>
            }
        }
    </tr>
    @foreach (var track in Model.DealsTracks)
    {
        <tr>
            <td>
                @Html.DisplayFor(s => track.Name)
            </td>
            <td>
                @Html.DisplayFor(s => track.Time)
            </td>
            <td>
                @Html.DisplayFor(s => track.Price)
            </td>
            <td>
                @Html.DisplayFor(s => track.Url)
            </td>
        </tr>
    }
</table>

<div id="flash">
    <h1> Insert Pornhub banner here.</h1>
</div>


<h2>Spectacular prices here!</h2>
<img src="http://img2.wikia.nocookie.net/__cb20130527140922/austinally/images/thumb/0/06/HappyCat.jpg/1280px-HappyCat.jpg" style="width:304px;height:228px">

<br />
<br />


<p>Prøv med et hvilket som helst komplett link</p>
<input id="iframeUrl" type="url" placeholder="parse denne url" value="https://www.komplett.dk/lenovo-z50-70-156-full-hd/825082" />
<input id="iframeBtn" type="button" value="Parse" />
<input id="findPriceBtn" type="button" value="Find price" />
<input id="foundPriceInput" type="number" />
<div>
    <iframe id="iframe" width="800" height="600"></iframe>
</div>